include verticalMenu.pug
html
  head
    style.
      .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
      }
      
      .price {
      color: grey;
      font-size: 22px;
      }
      
      .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
      }

      .btnBuynow{
        background-color: red;
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }

      .btnaddcart{
        background-color: #000;
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
      opacity: 0.7;
      }
  body(onload="popup('"+message+"')")
    //- input(type="hidden" name="userId" value=#{})
    div
      h2(style='text-align:center') My Cart
      h2(style='text-align:center') My Cart
      .card
        if(songs.length > 0)
          each song in songs
            img(src='/images/'+song._id+'.jpg' alt='songimage' style='width:100%;height:100px;' )
            h1 #{song.name}
            p.price $#{song.price}
            p #{song.description}
            input(type="hidden" name="id" value=song._id)
            p          
              input(class="btnaddcart" type="button" value="Remove from Cart" onclick="getremoveFromCartUrl('"+song._id+"')")
              input(class="btnBuynow" type="button" value="Buy Now" onclick="getBuyNowUrl('"+song._id+"')")
        else       
          h2(style='text-align:center') No Records Found 
    script.
      function getremoveFromCartUrl(songid) {
        location.href='/myCart/deleteCart?id='+songid+'&userId='+document.getElementById("userId").value;
      }
      function getBuyNowUrl(songid) {
        location.href='/buyNow/getPaymentForm?id='+songid+'&userId='+document.getElementById("userId").value;
      }
      function popup(message) {        
        if(message.length > 0) 
        {
          alert(message);
        }                
      }
          
